.accordion{  
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4rem;
  width: 1200px;
  max-width: 100%;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid black;
  background: var(--orange, #E86922);
}

.accordion button {
  background-color: #e5e5e5;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px 16px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion-title {
  padding: 5px;
  color: black;
  width: 100%;
}

.accordion button[aria-expanded="true"] .accordion-title {
  color: white; 
}

.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}


.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 9em;
  will-change: opacity, max-height;
  background-color: #fff;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 470px) {
  .accordion {
    padding: 2rem; 
    width: 100%;  
    max-width: 450px; 
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 18px;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }

  .accordion .accordion-content p {
    font-size: 16px;
    font-weight: 300;
  }
}

@media (max-width: 375px) {
  .accordion {
    padding: 2rem; 
    width: 100%;  
    max-width: 370px; 
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }

  .accordion .accordion-content p {
    font-size: 16px;
    font-weight: 300;
  }
}