<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/feature_tab.css">
</head>

<body>

  <div class="feature-tabs">

    <div class="tabs">

      <input class="input" name="tabs" type="radio" id="tab-1" checked="checked" />
      <label class="label" for="tab-1">Arlina Design</label>
      <div class="panel">

        <!-- title -->
        <div class="h1-line-grid">
          <h1>H2H2</h1>
          <div class="h1-line-large"></div>
        </div>
        <!-- title end-->

        <!-- cards -->
        <div class="tabs-card-grid">

          <div class="tabs-card">
            <div class="tabs-card-title">
              <div class="h1-line-small"></div>
              <h1>H3H3</h1>
            </div>

            <img src="../assets/img/meting.png" alt="">
            <p>開業時に必要な事業計画書や飲食店経営に関する内容を
              学べるセミナーを開催。毎回テーマを決めてわかりやすく説明。
            </p>
          </div>

          <div class="tabs-card">
            <div class="tabs-card-title">
              <div class="h1-line-small"></div>
              <h1>H3H3</h1>
            </div>

            <img src="../assets/img/meting.png" alt="">
            <p>開業時に必要な事業計画書や飲食店経営に関する内容を
              学べるセミナーを開催。毎回テーマを決めてわかりやすく説明。
            </p>
          </div>
        </div>
        <!-- cards end -->

        <div class="tabs-quote">
          <div class="h1-line-extra"></div>
          <p>見出し 4hテキスト見出し 4hテキスト見出し 4hテキスト見出し 4hテキスト見出し
            4hテキスト見出し 4hテキスト見出し 4hテキスト見出し 4hテキスト
          </p>
        </div>

        <p>テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入りま
          。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入ります。テキスト
          本文が入ります。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入ります。テ
          キスト本文が入ります。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入ります
          。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入りま
          す。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入りま
          す。テキスト本文が入ります。テキスト本文が入りま
          す。テキスト本文が入ります。テキスト本文が入ります。テキスト本文が入ります。</p>
      </div>

      <input class="input" name="tabs" type="radio" id="tab-2" />
      <label class="label" for="tab-2">Idntheme</label>
      <div class="panel">
        <h1>Idntheme</h1>
        <p>Idntheme (Citrus tangerina) is an orange-colored citrus fruit that is closely related to, or possibly a type
          of, mandarin orange (Citrus reticulata).</p>
        <p>The name was first used for fruit coming from Tangier, Morocco, described as a mandarin variety. Under the
          Tanaka classification system, Citrus tangerina is considered a separate species.</p>
      </div>

      

    </div>
  </div>
</body>

</html>