<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/place.css">
</head>

<body>
    <div class="place">
        <img src="../assets/img/place.jpeg">

        <div class="place-content">
            <div>
                <div class="place-info-title">
                    <h1>守破離</h1>
                    <img src="../assets/img/Screenshot 2024-06-13 at 11.37.36.png">
                </div>
                <h3>各線新宿駅から徒歩5分</h3>
            </div>
            
            <div class="place-info-row">
                <h1></h1>
            </div>
        </div>
    </div>
</body>

</html>