<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/sns.css">
</head>
<body>
    <div class="sns">
        <div class="sns-left">

            <div class="sns-youtube">
                <span>YouTube</span>
                <h1>で生徒の様子を配信中！</h1>
            </div>
            <p>入塾後の普段の授業から卒業後の進路まで赤裸々配信</p>
            <iframe class="sns-youtube-widget" src="https://www.youtube.com/embed/Myw15Lt5_VE?si=8mToyhlyy0-2-R8G" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="sns-right">
            <h1>各種SNS更新中</h1>
            <div class="sns-social-media">
                <a href="https://www.youtube.com/" target="_blank"><img src="../assets/img/5c8f48fa9599fd5204ae231ead4b36bc.png"></a>
                <a href=""><img src="../assets/img/5c8f48fa9599fd5204ae231ead4b36bc.png"></a>
                <a href=""><img src="../assets/img/5c8f48fa9599fd5204ae231ead4b36bc.png"></a>
                <a href=""><img src="../assets/img/5c8f48fa9599fd5204ae231ead4b36bc.png"></a>
            </div>
        </div>
    </div>
</body>
</html>