<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/teacher.css">
</head>
<body>
    <div class="teacher">
        
        <div class="teacher-card">
            <img src="../assets/img/teacher.png">
            <div class="teacher-card-data">

                <div class="teacher-course">寿司職人コース</div>
                <div class="teacher-name">
                    <h2>小林 正規</h2>
                    <h4>こばやし まさき</h4>
                </div>
                
                <ul>
                    <li>講師歴15年</li>
                    <li>職人歴23年</li>
                    <li>ミシュラン4星店舗経営</li>
                </ul>
            </div>
        </div>
        
        <div class="teacher-card">
            <img src="../assets/img/teacher.png">
            <div class="teacher-card-data">

                <div class="teacher-course">寿司職人コース</div>
                <div class="teacher-name">
                    <h2>小林 正規</h2>
                    <h4>こばやし まさき</h4>
                </div>
                
                <ul>
                    <li>講師歴15年</li>
                    <li>職人歴23年</li>
                    <li>ミシュラン4星店舗経営</li>
                </ul>
            </div>
        </div>
        
        
        <div class="teacher-card">
            <img src="../assets/img/teacher.png">
            <div class="teacher-card-data">

                <div class="teacher-course">寿司職人コース</div>
                <div class="teacher-name">
                    <h2>小林 正規</h2>
                    <h4>こばやし まさき</h4>
                </div>
                
                <ul>
                    <li>講師歴15年</li>
                    <li>職人歴23年</li>
                    <li>ミシュラン4星店舗経営</li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
</html>